# Node.js
# ========================
# Dependencias del proyecto
node_modules/
dist/
build/

# Archivos de caché
.npm/
.eslintcache
.pnp.*
package-lock.json # Puedes ignorarlo si usas Yarn o pnpm, pero generalmente se versiona
yarn.lock # Si usas Yarn, considera si quieres versionarlo o no. Si tienes pnpm-lock.yaml, ignóralo también.
pnpm-lock.yaml # Archivo de bloqueo de pnpm, si lo usas.

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Entorno
# ========================
# Archivos de variables de entorno (muy importante no subirlos)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local
.env.*

# Archivos temporales
tmp/
temp/

# Base de datos
# ========================
# Archivos específicos de la base de datos que no deben ser versionados
# (Ejemplos, pueden variar según tu configuración)
*.sqlite
*.sqlite3
*.db
*.mdb
data/*.db
data/*.sqlite

# Si generas archivos de dumps de base de datos localmente
*.sql
*.backup

# Logs de base de datos si se generan en el proyecto
pg_log/
mysql_log/

# IDEs y Editores de Código
# ========================
# Visual Studio Code
.vscode/

# JetBrains (WebStorm, IntelliJ, etc.)
.idea/
*.iml
*.iws
*.ipr

# Sublime Text
*.sublime-project
*.sublime-workspace

# Vim
*.swp
*.swo

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Otros
# ========================
# Archivos generados por Babel/TypeScript compilación
/lib/
/es/
/dist/
/out/
/ts_build/

# Archivos de cobertura de pruebas
coverage/

# Varios archivos de configuración que pueden ser específicos del entorno local
*.pem
*.key
*.crt