@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 243, 244, 246; /* Gris muy claro tipo MP */
}

html, body, #root { 
  height: 100%; 
  margin: 0;
  background-color: rgb(var(--background-rgb));
}